body {
	margin: 0 !important; 
	font-family: sans-serif;
	background:  #fff;	
}

header {
	margin-top: 0;
	width: 100%;
	height: 60px;
	background: #000;
	position: fixed;
}

header ul {
	list-style-type: none;
	margin: 0;
}

header ul li {
	display: inline-block;
	padding-top: 5px;
}

header ul li a {
	text-decoration: none;
	color: #FFF;
}

#login {
	width: 90%;
	height: 93%;
	margin: 0 auto;
	background: #262626;
	padding-top: 60px;
}

#fields {
	width: 60%;
}

#login div {
	padding: 28px;
	margin: 0 auto;
	color: #ff8000;
}

#login div input {
	width: 100%;
	font-size: 15px;
	padding: 10px;
	float: right;
	vertical-align: center;
	border-radius: 1px;
	border: none;
	margin-top: 10px;
	margin-bottom: 15px;
	background: #404040;
	color: #fff;
}

#login div label{
	margin-bottom: 30px;
}

#startText {
	font-size: 25px;
	margin: 0 auto;
  	text-align: center;
  	display: block;
}

#cb {
	float: left !important;
	width: 3% !important;
}

.fieldBottom label{
	font-size: 13px;
}

.fieldBottom a {
	text-decoration: none;
	color: #5899E3;	
}

.fieldBottom a:hover {
	color: #7cafe9;
}

footer {
	background: #ff8000;
	width: 100%;
	position: fixed;
	bottom: 0;
}

footer ul {
	list-style-type: none;
}

footer ul li {
	display: inline-block;
	padding-right: 20px;
}

footer ul li a {
	text-decoration: none;
	color: #000;
}

.button {
	padding: 13px;
	border: none;
	color: #fff;
	border-radius: 4px;
}

#btRegister {
	background: #993300;
	float: right;
}

#btRegister:hover {
	background: #cc4400;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #DBDBDB;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #DBDBDB;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #DBDBDB;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #DBDBDB;
}