body {
	margin: 0 !important; 
	font-family: sans-serif;
}

header {
	margin-top: 0;
	width: 100%;
	height: 60px;
	background: #000;
	position: fixed;
}

header ul {
	list-style-type: none;
	margin: 0;
}

header ul li {
	display: inline-block;
	padding-top: 5px;
}

header ul li a {
	text-decoration: none;
	color: #FFF;
}

.fRight {
	float: right;
	padding-right: 40px;
	vertical-align: center;
	padding-top: 20px;
}


#middle {
	width: 80%;
	height: 800px;
	background: #ee2233;
	margin: 0 auto;
	padding-top: 120px;
}

footer {
	background: #cccccc;
	width: 100%;
	position: fixed;
	bottom: 0;
}

footer ul {
	list-style-type: none;
	/*padding: 20px;*/
}

footer ul li {
	display: inline-block;
	padding-right: 20px;
}

footer ul li a {
	text-decoration: none;
	color: #000;
}