body {
	margin: 0;
}

header {
	margin-top: 0;
	width: 100%;
	height: 60px;
	background: #000;
	position: fixed;
}

header ul {
	list-style-type: none;
	margin: 0;
}

header ul li {
	display: inline-block;
	padding-top: 5px;
}

header ul li a {
	text-decoration: none;
	color: #FFF;
}

.fRight {
	float: right;
	padding-right: 40px;
	vertical-align: center;
	padding-top: 20px;
}


section {
	width: 80%;
	height: 900px;
	background: #F00;
	margin: 0 auto;
}





footer {
	background: #cccccc;
	position: relative;
	bottom: 0;
	width: 100%;
	margin: 0;
	padding: 0;
}

footer ul {
	list-style-type: none;
	padding: 20px;
}

footer ul li {
	display: inline-block;
	margin: right;
	padding-right: 20px;
}

footer ul li a {
	text-decoration: none;
	color: #000;

}